*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
}

element{
    position: relative;
    height: 7923.85;
    width: 766.4;
    margin-left: -20;
}

div{
    border:0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
}

#primary{
    margin-bottom: 20;
}

#header{
    width: 100%;
    height: 100vh;
    
}

.header{
    z-index: 10;
    position: absolute
    
}

.section-border{
    position: absolute;
    
}

.section-background{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
}

.page-section{
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.portfolio-wrapper{
    width: 100%;
    margin: 0;
    padding:0,0,40;
    margin-bottom: -20;
    display: block;
    margin-right: auto;
}

.portfolio-thumbnail{
    position: relative;
    z-index: 1;
    margin-bottom:20;
    text-align: center;
    line-height: 0;
}

.portfolio-entry-header{
    text-align: center;
}

.entry-title{
    margin:0;
    font-size: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word
}

.portfolio-entry-meta{
    padding-right: 20;
    padding-left: 20;
    padding-top: 10;
    color: #7f8d8c;
    font-family: "PT Serif", serif;
    line-height: 1.3;
    font-style: italic;
    text-align: center;
}

h1{
    line-height: 1.2;
}

h1,h2,h3,h4,h5,h6{
    clear: both;
    color:#080808;
    font-family: "Source Sans Pro", sans-serif;

}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
    border: 0;
    font-style: inherit;
    outline: 0;
    padding: 0;
}